{% extends "layout.html" %}
{% import "macros/publication.html" as pub %}
{% block title %}{{ this.title }}{% endblock %}
{% block header %}
  <link rel="stylesheet" href="{{ '/static/index.css'|url }}">
{% endblock %}
{% block body %}
  {% set publications = site.query('/publications').include_undiscoverable(true).all() %}

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="subtitle is-4">
            <b>{{ this.subtitle }}</b>
        </h1>
        <div class="content">
          {{ this.intro }}
        </div>
      </div>
    </div>
  </section>



{% endblock %}
