@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans');


body {
}

.navbar-brand {
    vertical-align: middle;
}

.navbar-menu .is-active {
    font-weight: 800;
}

.brand-portrait {
    width: 3.5em;
    height: 2.0em;
    vertical-align: middle;
    background: url('logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.navbar-brand .brand-name {
    font-family: 'Avenir Next', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #333;
}

.navbar-start {
}

.navbar-start .navbar-item {
    font-size: 1.2em;
}

.footer a {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}
